{ {{ parameters }} }:

pkgs.mkShell {

  buildInputs = [
{% for inp in build_inputs %}{{ "    " ~ inp ~ "\n" }}{% endfor %}
  ];
{% if shell_hook != None %}

  shellHook = ''
    {{ shell_hook }}
  '';
{% endif %}

}
